<%- include('../partials/header') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">

<div class="container">
    <h1>FoodiesHome</h1>
    <div id="description">
        <p style="margin-top: 35px;">A fresh new dedicated website for food lovers. Post your homemade dishes and comment
        on posts. Make sure you ask others for their recipe :) Lots of new features to be added.
        </p>
        <p>Coming soon :)</p>
    </div>
    <br>
    <p>email : kalitasourav12@gmail.com</p>
    <p>mobile no. : 7002202018</p>
</div>

<%- include('../partials/footer') %>